{% extends "base.html" %}
{% block content%}
    <h1>Xenon de Fer</h1>
    Рада приветствовать всех, кто каким-либо образом здесь очутился или появится в ближайшее время. Сайт посвящен моему творчеству, которое копилось в течение десяти лет, и которое я теперь имею возможность открыть миру. Для меня важно поделиться своими идеями, мыслями, чувствами и настроениями, но ещё важнее, чтоб они нашли отклик в сердцах и умах читателей. Поэтому я буду рада, если то, что будет здесь выкладываться не только прочитают, но и захотят прокомментировать или даже обсудить. Я всегда рада общению и открыта для диалога. На данный момент могу пожелать лишь одного: приятного времяпрепровождения! :)
{% endblock content %}